<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	   					   
	<bean id="beanFoo1" class="some.package.IBarImpl1"/>
	<bean id="beanFoo2" class="some.package.IBarImpl2"/>
</beans>