<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionContact</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
		org.springframework.web.context.request.RequestContextListener
	</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>50</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignServlet</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>servlets.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisconnectServlet</display-name>
    <servlet-name>DisconnectServlet</servlet-name>
    <servlet-class>servlets.DisconnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisconnectServlet</servlet-name>
    <url-pattern>/DisconnectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewContactServlet</display-name>
    <servlet-name>NewContactServlet</servlet-name>
    <servlet-class>servlets.NewContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewContactServlet</servlet-name>
    <url-pattern>/NewContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchContactServlet</display-name>
    <servlet-name>SearchContactServlet</servlet-name>
    <servlet-class>servlets.SearchContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchContactServlet</servlet-name>
    <url-pattern>/SearchContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteContactServlet</display-name>
    <servlet-name>DeleteContactServlet</servlet-name>
    <servlet-class>servlets.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteContactServlet</servlet-name>
    <url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateContactServlet</display-name>
    <servlet-name>UpdateContactServlet</servlet-name>
    <servlet-class>servlets.UpdateContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactServlet</servlet-name>
    <url-pattern>/UpdateContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeuplerDatabaseServlet</display-name>
    <servlet-name>PeuplerDatabaseServlet</servlet-name>
    <servlet-class>servlets.PeuplerDatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeuplerDatabaseServlet</servlet-name>
    <url-pattern>/PeuplerDatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyContactServlet</display-name>
    <servlet-name>MyContactServlet</servlet-name>
    <servlet-class>servlets.MyContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyContactServlet</servlet-name>
    <url-pattern>/MyContactServlet</url-pattern>
  </servlet-mapping>
</web-app>